<div class="k2_calendar_form">    
    <form method="post" action="{{ url() }}">
    {{ form_input('event.id', 'hidden') }}
    {{ form_input('event.start', 'hidden') }}
    {{ form_input('event.end', 'hidden') }}
    <div class="k2_calendar_errors ui-state-error ui-corner-all"></div>
    <dl>
        <dd>{{ form_label('event.id', 'Título') }}</dd>
        <dt>{{ form_input('event.title', attrs={required:true}) }}</dt>
        <dd>{{ form_label('event.description', 'Descripción') }}</dd>
        <dt>{{ form_textarea('event.description') }}</dt>
        <dd>{{ form_label('event.color', 'Color del Evento') }}</dd>
        <dt>{{ form_input('event.color', 'color', value="#3266cc") }}</dt>
    </dl>
    </form>
</div>
